html {
  margin: 0;
  background: #333;
}

body {
  margin: 0px;
  padding: 0;
  font-family: Helvetica, Arial;
  color: #fff;
}

a {
  color: #ddd;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(219, 55, 40);
}

div#infoback {
  position:absolute; top: 0; right: 0;
  bottom: 0; width: 360px; background:#2A0A0A;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

div#info { 
  margin: 132px 72px;
}

div#info h2 { 
  margin-bottom: 0px;
}

#map {   
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}

.leaflet-popup-content {
  color: #333;
}

.disclaimer {
  font-size: 0.7em;
}